html {
	max-width: 60ch;
	padding: 2ch;
	margin: auto;
	margin-top:20px;
	font-size: 1em;
	font-family: sans-serif;
	color: aliceblue;
	background-color: #121212;
	border:3px solid white;
	border-radius:5%;
}

.wrap{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

.players {
	height:40px;
	margin:5px;
	padding:5px;
	border:1px solid white;
	clear:left;
	display:flex;
	justify-content:space-around;
	align-items:center;
}

.input {
	width:200px;
	margin-bottom:10px;
}

.first {
	clear:left;
}

.hei{
	display: flex;
	justify-content: center;
}

.players input {
	width: 20px;
	height: 15px;
}

.holes{
	margin-top:15px;
	display: flex;
	justify-content: space-between;
}

.buttons {
	margin:3px;
	width: 100px;
	height: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}